body{
 background: #F7F8FD;
}
@font-face {
    font-family: "mchand";
    src: url(fonts/melaniec2016v1.woff);
    font-weight: 400;
}

@font-face {
    font-family: "mcdoodle";
    src: url(fonts/mcdoodle.woff);
    font-weight: 400;
}
a:hover{
	text-decoration: none !important;
}
a{
	color: #1b3c61;
}
div#live-logo > .list-inline {
    padding-top: 30px;
}
#contact-page{
	line-height: 2; 
	font-size: 14px;
}
#contact-page h4{
	font-family: 'mcdoodle', 'Oswald', sans-serif;
}
#live-page h3{
	font-size: 22px;
}
.mycontent-logo > ul{
	margin-top: 10px;
}
.live-title{
	color: #263F67;
	font-family: 'mcdoodle', 'Oswald', sans-serif; font-weight: bold; 
	text-transform: uppercase;
	margin: 15px 0 30px 0;
}
.concert-place{
	font-family: 'mcdoodle', 'Oswald', sans-serif; font-weight: bold; 
	margin-top: 0px; 
	line-height: .4;
	
}
.body-color{
	background: #F7F8FD;
}
.container-logo {
	height: 50%;
    padding: 30px;
    margin-right: auto;
    margin-left: auto;
}
.container-logo img{
	margin-top: 10px;
    margin-bottom: 10px;
    margin: 0px auto;
}
.tm-footer img{
	margin-top: 10px;
    margin-bottom: 10px;
}
.light-text{
	color:#ffffff;
	padding: 50px;
}

h1, h2{
	font-family: 'mcdoodle', 'Oswald', sans-serif !important; 
}
#section1, #section2, #section3, #section4, #section6{
	display: table;
	width: 100%;
} 

#section5{
	width: 100%;
	display: table;
	padding: 0px;
}
#section5-div{
	display: table;
	width: 100%; 
	background-position: center;
}
.icons>li {
	padding-right: 10px;
    padding-left: 10px;
}

.lyrics, .cl-section3, .cl-section4{	
	display: table-cell;
    vertical-align: bottom;
}
.lyrics{
	height: 443px;
}
.title-section{
	font-size: 180px;
}
.subtitle-section{
	font-size: 180px;
}
.title-section, .subtitle-section{
	color: #ffffff;
	color: white;
    text-shadow: 2px 2px 4px #000000;
}

.tm-footer{
  font-size: 12px;
  text-transform: none;
  letter-spacing: 4px;
  padding-top: 30px;
  padding-bottom: 50px;
}

.tm-footer > ul.list-inline.text-center.icons {
    padding-top: 30px;
}

#toTop{
	font-size: 30px;
	color: #333;
}

#col-tkt{
	display: none;
}

#tbl-tkt{
	margin-left: auto; 
	margin-right: auto;
}

#div-tkt{
	display: table-cell; 
	vertical-align: middle;
}

#ticket{
	font-size: 46px;
	color: #243D65;
	font-weight: bold;
}

#get-ticket{
	background: #243D65; 
	padding: 10px 25px; 
	color: #ffffff; 
	font-size: 32px;
}

#sec-live, #sec-lyrics{
	width: 100%;
	display: table;
	padding: 0px; 
}



#concert-month{
	margin-top: 0px; 
	line-height: .4;
}



/** FULLPAGE **/

/* Centered texts in each section
* --------------------------------------- */
.section{
	text-align:center;
}

/* Backgrounds will cover all the section
* --------------------------------------- */
.section{
	background-size: cover;
}

.fp-section{
	background-position: center;
}

/** END OF FULLPAGE **/

.tbl-container {
display: table;
width: 100%;
height: auto;
}

.tbl-row  {
display: table-row;
height: auto;
}

.tbl-cell {
	display: table-cell;
}
.panel{
	background-color: transparent;
	box-shadow: none;
}
.submit{
	height: 40px;
    font-size: 17px !important;
    margin: 30px 5px 10px 0;
    color: white !important;
    background-color: #aaa !important;
    border: 0 none !important;
    border-radius: 4px !important;
    font-weight: normal;
    width: 20%;
}
#email{
	background: #f7f8fd;
}

.album-title-color{
	color: #ffffff !important;
}

#album-title{
	font-family: 'mcdoodle', 'Oswald', sans-serif;
	font-weight: bold;
	color: #4b4b4b;
	text-transform: uppercase;
	margin: 15px 0 15px 0;
}
#song-num{
	color: #4b4b4b;
}


/** GENERIC STYLE **/

/* TEXT ALIGNMENT */
.align-text-c{
	text-align: center;
}
.align-text-l{
	text-align: left;
}

/* TEXT COLOR */
.text-white{
	color: #ffffff;
}
.text-dark-blue{
	color: #243d65;
}
.text-light-blue{
	color: #4784e7;
}
.text-light-grey{
	color: #4b4b4b;
}

/* TEXT STYLE */
.text-u{
	text-decoration: underline;
}
.font{
	font-family: 'mcdoodle', 'Oswald', sans-serif !important;
}

/* MARGIN */
.m-auto{
	margin: auto;
}
.m-120{
	margin: 120px;
}

/* MARGIN % */
.m-r-20{
	margin-right: 20%;
}
.m-l-20{
	margin-left: 20%;
}

/* MEDIA QUERY FOR RESPONSIVENESS */

@media only screen and (max-width: 1440px) {
    
}


@media only screen and (max-width: 1024px) {
    
}

@media only screen and (max-width: 880px) {
    #tbl-tkt{
		display: none;
    }
    #col-tkt{
		display: block;
    }
}

@media only screen and (max-width: 768px) {

	.light-text{
		padding: 20px !important;
	}

	.tm-footer > ul.list-inline.text-center.icons {
	    padding-top: 20px;
	}

	.tm-footer {
	    padding-bottom: 0px;
	}
   
}

@media only screen and (max-width: 425px) {

	.light-text{
		padding: 30px !important;
	}
    
    #ticket{
		font-size: 30px !important;
    }

    ul.list-inline.text-center.icons{
		margin-left: -20px !important;
    }

   
}

@media only screen and (max-width: 375px) {

	#col-ticket{
		padding: 15px !important;
    }

    .tm-footer {
    	padding-top: 5px;
    }

	 .icons>li{
		padding-right: 20px;
    	padding-left: 20px;
    }

    .tm-footer > ul.list-inline.text-center.icons {
	    padding-top: 0px;
	}
    
}

@media only screen and (max-width: 320px) {

	.icons>li{
		padding-right: 15px;
    	padding-left: 15px;
    }
    #get-ticket{
		font-size: 24px !important;
    }
	.title-section {
	    font-size: 155px;
	}
    .subtitle-section {
    	font-size: 155px;
	}
}
